
p{
    margin-top: 50px;
    font-size: 15px;
    font-family: 'roboto';
}

.quoi{
    padding-top: 50px ;
}

#recherche{
    height: 40px;
    width: 500px;
    border: 2px solid black;
    border-radius: 5px;
}

.btn {
    margin-left: 5px;
} 

.selection_du_mois{
    margin-top: 70px;
}

h2 {
    font-size: 30px;
    padding-bottom: 30px;

}

.card-text {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}
